body {
  text-align: center;
  font-family: monospace;
  max-width: 100%;
  background-color: antiquewhite;
}
li {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: bisque;
}
a:hover {
  background-color: rosybrown;
}
